__pycache__/
__pycache__/
main_test.ipynb
Types/A Review of Definitions for Fractional Derivatives and Integral(2014).pdf
Types/A review of definitions of fractional derivatives and other operators.pdf
Types/Comb.xlsx
Types/Fractional calculus - Wikipedia.pdf
Types/General Fractional Derivatives Theory, Methods and Applications.pdf
main_test.ipynb
temp.ipynb
temp2.ipynb
models/__pycache__/
run/
